@font-face {
	font-family : "Starjhol";
	src         : url("../fonts/starjedi/Starjhol.ttf");
}

@font-face {
	font-family : "Starjedi";
	src         : url("../fonts/starjedi/Starjedi.ttf");
}

$text-color-yellow: #e5b13a;
$white: #fff !default;

body {
	background-image : url("../images/Background.jpg");
	// background-size  : cover;
}

.title {
	position   : relative;
	margin-top : 50px;
	text-align : center;
	height     : auto;

	h1 {
		color       : $text-color-yellow;
		font-family : "Starjhol";
		font-size   : 150px;
		line-height : 110px;
		margin      : 0;
	}
}

.character, .enemy {
	float      : left;
	margin     : 0;
	position   : relative;
	margin-top : 170px;
	width      : 20%;

	img {
		display: block;
		bottom   : 30px;
		height   : 280px;
		margin-left: auto;
		margin-right: auto;
	}

	p {
		color       : $white;
		font-family : "Starjedi";
		font-size   : 20px;
		position    : relative;
		text-align  : center;
	}
}

.score {
	color        : $white;
	display      : none;
	font-family  : "Starjedi";
	font-size    : 20px;
	margin-left  : auto;
	margin-right : auto;
	position     : relative;
	text-align   : center;
	top          : 100px;
}

.instructions {
	color       : $text-color-yellow;
	font-family : "Starjedi";
	font-size   : 25px;
	position    : relative;
	text-align  : center;
	margin-top  : 50px;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* Pulse Shrink */
@-webkit-keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse-shrink:hover, .hvr-pulse-shrink:focus, .hvr-pulse-shrink:active {
  -webkit-animation-name: hvr-pulse-shrink;
  animation-name: hvr-pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}