@import "_variables.scss";
@font-face {
	font-family : "Starjhol";
	src         : url("../fonts/starjedi/Starjhol.ttf");
}

@font-face {
	font-family : "Starjedi";
	src         : url("../fonts/starjedi/Starjedi.ttf");
}

$text-color-yellow: #e5b13a;

body {
	background-image : url("../images/Background.jpg");
	// background-size  : cover;
}

.title {
	position   : relative;
	margin-top : 50px;
	text-align : center;
	height     : auto;

	h1 {
		color       : $text-color-yellow;
		font-family : "Starjhol";
		font-size   : 150px;
		line-height : 110px;
		margin      : 0;
	}
}

.character, .enemy {
	float      : left;
	margin     : 0;
	position   : relative;
	margin-top : 170px;
	width      : 20%;

	img {
		display: block;
		bottom   : 30px;
		height   : 280px;
		margin-left: auto;
		margin-right: auto;
	}

	p {
		color       : $white;
		font-family : "Starjedi";
		font-size   : 20px;
		position    : relative;
		text-align  : center;
	}
}

// .enemy {
// 	float      : left;
// 	margin     : 0;
// 	position   : relative;
// 	margin-top : 170px;
// 	width      : 20%;

// 	img {
// 		display: block;
// 		bottom   : 30px;
// 		height   : 280px;
// 		margin-left: auto;
// 		margin-right: auto;
// 	}

// 	p {
// 		color       : $white;
// 		font-family : "Starjedi";
// 		font-size   : 20px;
// 		position    : relative;
// 		text-align  : center;
// 	}
// }

.score {
	color        : $white;
	display      : none;
	font-family  : "Starjedi";
	font-size    : 20px;
	margin-left  : auto;
	margin-right : auto;
	position     : relative;
	text-align   : center;
	top          : 100px;
}

.instructions {
	color       : $text-color-yellow;
	font-family : "Starjedi";
	font-size   : 25px;
	position    : relative;
	text-align  : center;
	margin-top  : 50px;
}