@font-face {
    font-family: 'Starjhol';
    src: url('../fonts/starjedi/Starjhol.ttf');
}

@font-face {
    font-family: 'Starjedi';
    src: url('../fonts/starjedi/Starjedi.ttf');
}

body {
	background-image: url("../images/Background.jpg");
	background-size: cover;
}

.title {
	position: relative;
	top: 50px;
}

.title h1 {
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: "Starjhol";
	font-size: 150px;
	line-height: 115px;
	color: #e5b13a;
}

.row {
	margin-left: auto;
	margin-right: auto;
}

.character, .enemy {
	float: left;
	position: relative;
	top: 150px;
	margin: 0;
	width: 228px;
	height: 400px;
}

.character img, .enemy img {
	position: absolute;
	bottom: 30px;
	height: 70%;
}

.character p, .enemy p {
	position: relative;
	top: 380px;
	text-align: center;
	font-family: "Starjedi";
	color: white;
	font-size: 20px;
}

.score {
	display: none;
	position: relative;
	top: -250px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: "Starjedi";
	color: white;
	font-size: 20px;
}

.instructions {
	position: relative;
	top: 250px;
	text-align: center;
	font-family: "Starjedi";
	color: #e5b13a;
	font-size: 25px;
}